<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1052857744283-45e44g459jtnvl1dn37u782tpfsmq3b8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1052857744283-45e44g459jtnvl1dn37u782tpfsmq3b8</string>
	<key>API_KEY</key>
	<string>AIzaSyAdMTbY6593M3U1OPiwIAFI5BRK8iYPokw</string>
	<key>GCM_SENDER_ID</key>
	<string>1052857744283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.NobleLeyva.Moon</string>
	<key>PROJECT_ID</key>
	<string>moondev-ac048</string>
	<key>STORAGE_BUCKET</key>
	<string>moondev-ac048.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1052857744283:ios:d7771c3775daf4e6</string>
	<key>DATABASE_URL</key>
	<string>https://moondev-ac048.firebaseio.com</string>
</dict>
</plist>